<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <div>
        <header>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="signup.html">Sign Up</a></li>
                    <li><a href="signin.html">Login</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="recommendations.html">Recommendations</a></li>
                </ul>
            </nav>
            
        </header>
        <main>
            <h1>Preferences</h1>
            <h1>
                Interactions
            </h1>
        </main>
    </div>
    <script src="../scripts/index.js"></script>
</body>
</html>